.line-through {
	text-decoration: line-through;
	opacity: 0.5;
}

#done, #remove {
	float: right;
	cursor: pointer;
	margin-top: 3px;
	border-radius: 3px;
	color: #F6AF66;
	color: white;
	transition-duration: 0.5s;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.font {
	font-family: Quicksand;
}

#todo-input {
	width: 280px;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	border: none;
	margin-right: 2px;
}

#add-button {
	height: 42px;
	width: 75px;
	font-size: 16px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 3px;
	background: #F6AF66;
	color: white;
	transition-duration: 0.5s;
	border: 1px solid white;
}

body {
	background: #e8e8e8;
}

main {
	width: 500px;
	margin-top: 50px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: #F6AF66;
	padding-bottom: 35px;
}

h1 {
	font-size: 50px;
	color: white;
  	text-shadow: 2px 2px 4px #000000;
}

section {
	display: flex;
}

ul {
	list-style-type: none;
}

li {
	width: 355px;
	height: min 30px;
	border-radius: 3px;
	margin-left: -40px;
	margin-top: 5px;
	padding: 3px 5px 5px 10px;
	font-size: 20px;
	transition-duration: 0.5s;
	color: white;
	background: rgba(155,255,255,0.1);
}

li:hover {
	background: rgba(155,255,255,0.2);
}

button:hover {
	background: rgba(155,255,255,0.1);
	cursor: pointer;
}

#add-button:hover {
	background: rgba(155,255,255,0.1);
	cursor: pointer;
}